.hero {
    height: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.score-btn {
    margin-top: 100px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: 200;
    cursor: pointer;
}

.top h1{
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
}

.top, .rules{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}

.start-btn{
    flex-wrap: wrap;
    margin-top: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}

.quizbox{
    width: 550px;
    border-radius: 5px;
}

.timer{
    height: 70px;
    padding: 0 30px;
}

.totalQuestions{
    
}