.hero {
    height: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.score-btn {
    margin-top: 100px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: 200;
    cursor: pointer;
}

.top h1{
    /*remove later*/
    display: none;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
}

.hide {
    display:none;
}

.rules{
    /*display: none;*/
   display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}

.start-btn{
    flex-wrap: wrap;
    margin-top: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}

.timer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 45px;
    width: 100px;
    padding: 0 30px;
    justify-content: space-between;
    font-weight: 500;
    font-size: 20px;
}
.quizbox{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10px;
}

button{
    cursor: pointer;
    font-size: 25px;
    font-weight: 500;
    align-items: center;
    
}

.Question1{
    width: 550px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.Question1 span{
    font-weight: 400;
    font-size: 20px;
}

